.App {
  text-align: center;
}

.chart-header {
  text-align: center;
  margin-bottom: 5px;
}

.App-header {
  color: #282c34;
  font-size: 3em;
  font-weight: 400;
  padding: 1rem 2rem;
  margin: 0 0 1em 0;
  text-shadow: 1px 1px 1px #eee;
}

.chart-section { 
  margin: 2em 0;
}

.App-link {
  color: #61dafb;
}
